
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura.woff') format('woff'),
         url('../fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.main_div
{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 0;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.main_img_div
{
	text-align: center;
}

.main_img_div img
{
  max-width: 50%;
}

.main_div p 
{
	font-family: 'Futura';
    font-size: 17px;
    color: #000;
    text-align: left;
    margin-bottom: 15px;
}
.cat_div 
{
	text-align: center;
	margin-bottom: 3%;
	padding: 5px;
    min-height: 290px !important;
    height: fit-content !important;
    width: 32%;
    margin-right: 10px;
}

.cat_div img
{
	width: 100%;
	max-width: 260px;
	border: solid 3px transparent;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 5px;
}

.cat_div img:hover
{
	cursor: pointer;
	border-color: #000;
}

.cat_div span
{
	font-family: 'Futura';
	color: #000;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/*.exp_tab
{
	 border-bottom: 4px solid #fff !important;
}*/


@media screen and (max-width: 1090px) {

	.cat_div span
	{
		width: 70%;
	}

}

@media screen and (max-width: 942px) {

	.cat_div span
	{
		width: 80%;
	}

}

@media screen and (max-width: 840px) {

	.cat_div
	{
		margin-right: 5px;
	}

	.cat_div span
	{
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) {

	.nav_bar_2 span::before, .nav_bar_2 span::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.center:hover {
  cursor: pointer;
}
.center::before, .center::after{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.center::before {
  /*border-top: 2px solid #6477b9;*/
  border-bottom: 4px solid #fff;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.center::after {
/*  border-left: 2px solid #6477b9;
  border-right: 2px solid #6477b9;*/
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

}
@media screen and (max-width: 768px) {

	
.main_img_div
{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.main_img_div img
{
    width: 45%;
}

.main_div p
{
	font-size: 15px;
	text-align: center;
}

}

@media screen and (max-width: 500px) {

	.main_img_div img
	{
	    width: 55%;
	}
}

@media screen and (max-width: 414px) {


}
