.main_div
{
	text-align: center;
	margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.cat_div 
{
	text-align: center;
	margin-bottom: 3%;
	padding: 5px;
    min-height: 290px !important;
    height: fit-content !important;
    width: 23%;
    margin-left: 10px;
}

.cat_div img
{
	width: 100%;
	max-width: 260px;
	border: solid 3px transparent;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cat_div img:hover
{
	cursor: pointer;
	border-color: #000;
}

.cat_div span
{
	font-family: 'Ara Hamah AlFidaa';
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*width: 60%;*/
}

.explore_div
{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.exp_span_1
{
	font-family: 'Ara Hamah AlFidaa';
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.exp_span_2
{
	font-family: 'Futura';
    color: #000;
    font-size: 16px;
}

.insta_div
{
	width: 100%;
    background-color: #fafafa;
    text-align: center;
    /*padding-top: 4%;*/
}

.insta_span_1
{
	font-family: 'Futura';
	color: #000;
	font-size: 19px;
}

.insta_div_inner
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;	
	text-align: left;
	margin-top: 4%;
}

.insta_div_inner span
{
	font-family: 'Futura';
	color: #999999;
	font-size: 19px;
}

.picture-item__inner 
{
    width: 90%;
    margin-bottom: 20px;
}

#ff-stream-1 .ff-item {
    padding-left: 5px;
    padding-right: 5px;
}

#ff-stream-1, #ff-stream-1 .ff-popup, #ff-stream-1 .ff-search input {
    background-color: transparent !important;
}

@media screen and (max-width: 1090px) {

	.cat_div span
	{
		width: 70%;
	}

}

@media screen and (max-width: 942px) {

	.cat_div span
	{
		width: 80%;
	}

}

@media screen and (max-width: 840px) {

	.cat_div
	{
		margin-left: 5px;
	}

	.cat_div span
	{
		/*font-size: 12px;*/
	}
}

@media screen and (max-width: 768px) {

	.cat_div
	{
		width: 48%;
	}

	.insta_div_inner
	{
		text-align: center;
	}

	.exp_span_1
	{
		/*font-size: 14px;*/
	}

	
	.insta_div_inner
	{
		text-align: center;
		width: 90%;
	}

}

@media screen and (max-width: 500px) {

	.cat_div
	{
		width: 70%;
		height: fit-content !important;
		min-height: 0 !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		float: none !important;
	}
}

@media screen and (max-width: 414px) {


}
