
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura.woff') format('woff'),
         url('../fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bakersfield-Bold';
    src: url('../fonts/Bakersfield-Bold.eot');
    src: url('../fonts/Bakersfield-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bakersfield-Bold.woff') format('woff'),
         url('../fonts/Bakersfield-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bakersfield-Light';
    src: url('../fonts/Bakersfield-Light.eot');
    src: url('../fonts/Bakersfield-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bakersfield-Light.woff') format('woff'),
         url('../fonts/Bakersfield-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.banner_div img
{
	width: 100%;
}

.main_div
{
	/*text-align: center;*/
	padding-top: 35px;
	padding-bottom: 0;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.top_rating
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-star
{
	color: #000;
}

.checked_rating
{
    color: orange;
}

.main_titles
{
	font-family: 'Futura';
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	letter-spacing: 3px;
	margin-top: 20px;
}

.desc_p
{
	font-family: 'Futura';
	color: #000;
	font-size: 14px;
	margin: 0;
}

.main_p
{
	font-family: 'Bakersfield-Light';
	color: #000;
	font-size: 14px;
	margin: 0;
}

.key_title
{
	/*margin-top: 20%;*/
}

.main_right 
{
	text-align: center;
	padding-top: 20px;
}

.main_right img 
{
	width: 54%;
}

.mid_div
{
	display: block;
}

.main_right_mobile
{
	display: none;
}

.rel_div
{
	text-align: center;
}

.related_div
{
	display: inline-block;
	width: 30%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-top: 20px;
    transition: all .2s ease-in-out;
}


.related_div:hover
{
	transform: scale(1.1); 
}

.related_div img
{
	width: 70%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.related_div span 
{
	font-family: 'Futura';
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	letter-spacing: 1px;
    margin-top: 13px;
    line-height: 19px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1060px) {

	.mid_div
	{
		display: inline-table;
		width: 47%;
	}

	.main_left
	{
		width: 55%;
	}

	.main_right
	{
		width: 45%;
	}

	.main_right img
	{
		width: 60%;
	}

}

@media screen and (max-width: 860px) {

	.main_left
	{
		width: 60%;
	}

	.main_right
	{
		width: 40%;
	}

	.main_right img
	{
		width: 70%;
	}

	.main_titles, .related_div span
	{
		font-size: 12px;
	}

}

@media screen and (max-width: 942px) {



}
@media screen and (max-width: 768px) {

.main_left, .main_right, .mid_div
{
	width: 100%;
}

.main_div
{
	text-align: center;
}

.main_right_desk
{
	display: none;
}

.main_right_mobile
{
	display: block;
}

.main_div
{
	padding-top: 15px;
}

.main_right img 
{
    width: 40%;
}

.related_div span
{
	width: 100%;
}

}

@media screen and (max-width: 560px) {

	.main_right img 
	{
	    width: 50%;
	}

}

@media screen and (max-width: 500px) {

.desc_p 
{
    font-size: 13px;
    margin-top: 10px;
}

.related_div 
{
    width: 50%;
}

.related_div img
{
	width: 90%;
}


}
