
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura.woff') format('woff'),
         url('../fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ara Hamah AlFidaa';
    src: url('../fonts/AraHamahAlFidaa-Regular.eot');
    src: url('../fonts/AraHamahAlFidaa-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AraHamahAlFidaa-Regular.woff') format('woff'),
         url('../fonts/AraHamahAlFidaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#loading
{
    /*background-color: rgba(0,0,0,0.75);*/
    background-color: rgba(255,255,255,1);
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    /*display: none;*/
}

#loading img
{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
}

.nav_3 
{
	text-align: left;
	display: table;
}

.nav_3_inner
{
	display: table-cell;
	vertical-align: middle;
}

.nav_3 img
{
	width: 25px;
	display: inline-block;
	margin-right: 10px;
}

.nav_3 img:hover
{
	cursor: pointer;
	opacity: 0.75;
}

.nav_3
{
	padding: 0 !important;
}

.ls_div, .link_div
{
	text-align: center;
}
.ls_div span 
{
	font-family: 'Futura';
	color: #000;
	font-size: 14px;
	letter-spacing: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.ls_div
{
	margin-bottom: 7px;
}

.ls_active
{
	border-bottom: solid 2px #000;
	padding-left: 2px;
}

.ls_idle:hover
{
	opacity: 0.6;
}

.ls_mobile
{
	margin-bottom: 0;
    width: 120px;
    position: absolute;
    left: 10px;
    text-align: left;
    top: 22px;
}

.container
{
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.banner_div img
{
	width: 100%;
}

.mobile_nav
{
	display: none;
}

.fake_head
{
	display: none;
}

.nav_bar
{
	width: 100%;
	background-color: #fff;
}

.navs
{
	padding: 30px;
}

.nav_1
{
	text-align: right;
}

.nav_1 span
{
	font-family: 'Futura';
	color: #000;
	text-transform: uppercase;
	font-size: 11px;
}

.nav_1 img
{
	width: 110px;
	display: block;
}


.nav_2
{
	text-align: center;
}

.nav_2 img 
{
	width: 150px;
}

.nav_bar_2
{
	width: 100%;
	background-color: #000;
	text-align: center;
	padding: 10px !important;
}

.nav_bar_2 li
{
	margin-left: 6%;
	margin-right: 6%;
	font-family: 'Ara Hamah AlFidaa';
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
    padding: 6px;
    background-color: #000;
    -webkit-transition: all 1s;
    transition: all 1s;
    display: -webkit-inline-box;
    border: none;
    -webkit-box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}

.nav_bar_2 li span
{
	display: block;
}

.let_span
{
	direction: ltr !important;
}

.nav_bar_2 ul 
{
	margin: 0;
	padding: 0;
}

.nav_bar_2 a 
{
	color: #fff !important;
}

.dropdown-menu 
{
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    -webkit-background-clip: unset;
    background-clip: unset;
    border: none;
    border-radius: 0;
    box-shadow: none;
    /*display: block !important;*/

    height: fit-content;
    left: -35px;
    margin: auto;
}

.dropdown-menu a span:hover
{
	opacity: 0.75;
}

.dropdown-item span
{
	font-size: 17px;
}

.footer
{
	border-top: solid 2px #000;
	width: 85% !important; 
	padding-top: 1.5%;
    padding-bottom: 1.5%;
	margin-top: 4%;
}

.foot_1 img 
{
	width: 50%;
	display: block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #fff !important;
}

.foot_1 input
{
	background-color: #000;
    color: #fff !important;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.foot_1 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Ara Hamah AlFidaa';
    color: #fff;
    opacity: 1; /* Firefox */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.foot_1 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Ara Hamah AlFidaa';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.foot_1 input::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Ara Hamah AlFidaa';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.foot_1 span, .foot_1 ul li
{
	font-family: 'Futura';
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    letter-spacing: 1px;
}

.foot_1 ul
{
	margin: 0;
    padding: 0
}

.foot_1 ul li
{
	line-height: 24px;
}

.foot_3
{
	text-align: left;
	display: table;
}

.foot_3_img_1, .foot_3_img_2
{
	width: 45%;
	display: block;
	margin-top: 30px;
	margin-right: auto;
}

.foot_3_img_2
{
	width: 55%;
}

.foot_3_inner
{
	display: table-cell;
	vertical-align: middle;
}

.sm_foot
{
	display: none;
}

#polylang-3
{
	display: none !important;
}

.foot_ar_2
{
	display: none;
}

@media screen and (max-width: 900px) {

.foot_3_img_1
{
	width: 60%;
}

.foot_3_img_2 
{
	width: 75%;
}

}

@media screen and (min-width: 768px) {

	.nav_bar_2 span::before, .nav_bar_2 span::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.center:hover {
  cursor: pointer;
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.center::before {
  /*border-top: 2px solid #6477b9;*/
  border-bottom: 4px solid #fff;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.center::after {
/*  border-left: 2px solid #6477b9;
  border-right: 2px solid #6477b9;*/
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}


}
@media screen and (max-width: 768px) {

.fake_head
{
	display: block;
}

.navbar
{
	height: 80px;
}
#navbar
{
	text-align: center;
	padding: 0px;
	background-color: #000;
}

.navbar-brand > img 
{
	width: 100px;
	margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-brand 
{
    width: 100%;
    text-align: center;
}

.navbar-toggle 
{
    position: absolute;
    float: none;
    top: 25px;
    right: 10px;
}

.navbar-collapse
{
	top: 80px !important;
}
.navbar-default .navbar-toggle .icon-bar 
{
    background-color: #000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: #000;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar
{
	background-color: #fff;
}

.nav .navbar-nav
{
	background-color: #000;
	margin: 0;
}

.navbar-default .navbar-nav > li > a
{
	font-family: 'Ara Hamah AlFidaa';
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	/*color: #fff;
    opacity: 0.75;*/
}

.nav_bar_2 ul
{
	text-align: center;
}

.nav_bar_2 li
{
	width: 100%;
	margin: 0;
	display: block;
}

.desk_nav
{
	display: none;
}

.mobile_nav
{
	display: block;
}

.drop_mobile
{
	display: none;
}

.navs 
{
    padding: 0;
    width: 100%;
    text-align: center !important;
    margin-bottom: 20px;
}

.nav_1
{
	
}

.nav_1 img 
{
    margin-left: auto;
    margin-right: auto;
}

.nav_3
{
	display: none;
}

.nav_bar_2
{
	padding: 0;
}

.nav_bar_2 span
{
	display: block;
    margin-bottom: 0;
    margin-left: 0;
	margin-right: 0;
	border: none;
}

.nav_bar_2 span:last-child 
{
	margin-bottom: 0;
}

	.nav_bar_2 ul li a:hover, .drop_mobile li :hover
{
	border-color: #000;
	background-color: #fff !important;
	color: #000 !important;
	cursor: pointer;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
{
	max-height: initial;
}

	.footer, .foot_1, .foot_3
{
	text-align: center;
}
.foot_2
{
	display: none;
}

.foot_1, .foot_3
{
	width: 100%;
}

.foot_1 img 
{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.foot_1 input
{
	text-align: center;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.foot_1 span, .foot_1 ul li
{
	font-size: 12px;
}

.foot_3
{
	height: fit-content !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.foot_3_img_1, .foot_3_img_2 
{
    width: 45%;
    margin-left: auto;
    margin-top: 5px; 
}

.foot_3_img_1 
{
    width: 20%;
}

.foot_3_img_2 
{
    width: 35%;
}

.sm_foot
{
	display: block;
    width: 100%;
    margin-top: 5px;
}

.sm_foot img 
{
	width: 20px;
	display: inline-block;
	margin-right: 10px
}

.sm_foot img:hover
{
	cursor: pointer;
	opacity: 0.75;
}

.foot_ar_1
{
	display: none;
}

.foot_ar_2
{
	display: table;
}

}
@media screen and (max-width: 500px) {

.ls_mobile span 
{
    font-size: 11px;
}

.navbar-brand > img 
{
    width: 85px;
    margin-top: 3px;
}


}
@media screen and (max-width: 414px) {

	.nav_1 span 
	{
    	font-size: 17px;
	}

	.nav_1 img 
	{
    	width: 24%;
	}

	.nav_2 img 
	{
    	width: 43%;
	}

}
